{% extends 'recommend/base.html'%}
{% block title %}Tavsiyeler{% endblock %}
{% block body %}

<div class="container-fluid">
	<h2 style="color:#8d194b">İçeriğe Dayalı Filtreleme</h2>
</div>
<hr>
<br>

	<div class="container-fluid">

    <!-- Film Listesi -->
    <div class="row">
            {% if movie_list2 %}
                {% for movie in movie_list2 %}
                    <div class="col-sm-2 col-md-2 ">
                        <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                            <center><h4>{{movie.title}}</h4></center>
                            <a href="{% url 'detail' movie.id %}">
                                <img src="/media/{{movie.movie_logo}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

</div>


{% endblock %}
