{% extends 'recommend/base.html'%}
{% block body %}

<h2 style="color:#8d194b">Listem</h2>
<hr>
<br>
<!-- Film Listesi -->
<div class="row">
    {% if movies %}
    {% for movie in movies %}
        <div class="col-sm-2 col-md-2 ">
            <div class="thumbnail">
                <h4>{{movie.title}}</h4>
                <a href="{% url 'detail' movie.id %}">
                    <img src="{{ movie.movie_logo.url}}" class="img-responsive">
                </a>
                <h5>{{movie.genre}}</h5>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="alert alert-danger">
             Listen boş.
        </div>
    {% endif %}
</div>

{% endblock %}
